.footer {
    padding:1em;
    background-color: rgb(51, 51, 51);
    color: white;
}

@media screen and (max-width: 500px){
    .footer {
	text-align:center;
    }
    .fa-cog{
        color:white;
        padding:0 5px;
    }
}

@media screen and (min-width: 500px){
    .footer {
	display:flex;
    }
    
    .footer p {
	font-size: 1em;
	padding-top:5px;
	padding-right:10px;
    }
    
    .footer a:hover {
	opacity: 0.8;
    }
    
    .fa-cog{
	color:white;
	padding:0 5px;
    }

    .icons{
	//    flex:1;
    }
    
    .copyright{
	//    flex:1;
    }
}
