.footer {
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  background-color: rgb(51, 51, 51);
  color: white;
}

.footer h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 5rem;
}

.footer p {
  font-size: 1.5rem;
}

.footer a {

}

.footer a:hover {
  opacity: 0.8;
}

.fa-cog{
    color:white;
    margin-left:1rem;
}

.footer #social-network-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

