.news{
    display: flex;
    margin-top:-20px;
    min-height:calc(100vh - 50px);
    flex-direction: column;
}

.news_content{
    flex:1;
}

.news_content h1{

}


@media screen and (min-width: 1024px){
    .news_holder{
	width:61%;
	padding-left:2em;
	margin-top:1em;
	margin-bottom:1em;
	height:150px;
	display:flex;
	//    background-color:blue;
}

    .news_words{
	margin-right:2em;
	position:relative;
	//    background-color:red;
    }
    
    .news_title{
	font-size:24px;
        line-height:1.2;
        font-weight:bold;
    }
    
    .news_title a{
	color: black;
    }
    
    .news_parts{
	color:gray;
    }
    
    .date_from_hori{
	position:absolute;
	bottom:0;
	margin-bottom:-0.5em;
	display:flex;
	color:gray;
    }
    
    .news_date{
    }
    
    .news_image{
    }
    
    .news_image img{
	width:200px;
	height:150px;
    }
    
    .smallDivider {
	margin-left:3px;
	margin-right:3px;
	font-size:3em;
	margin-top:-33px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 651px) {
    .news_holder{
	width:100%;
	margin-top:1em;
	margin-bottom:1em;
	height:150px;
	display:flex;
	//    background-color:blue;
}

    .news_words{
	margin-right:2em;
	position:relative;
	//    background-color:red;
    }

    .news_title{
	font-size:24px;
        line-height:1.2;
        font-weight:bold;
    }

    .news_title a{
	color: black;
    }

    .news_parts{
	color:gray;
    }

    .date_from_hori{
	position:absolute;
	bottom:0;
	margin-bottom:-0.5em;
	display:flex;
	color:gray;
    }

    .news_date{
    }

    .news_image{
    }

    .news_image img{
	width:200px;
	height:150px;
    }

    .smallDivider {
	margin-left:3px;
	margin-right:3px;
	font-size:3em;
	margin-top:-33px;
    }
}


@media screen and (max-width: 650px) {
    .news_holder{
	width:100%;
//	height:;
	font-size:13px;
    }

    .news_words{
	//	background-color:blue;
	height:8em;
	position:relative;
    }

    .news_title{
	font-size:20px;
	line-height:1.2;
	font-weight:bold;
//	background-color:blue;
    }

    .news_title a{
	color: black;
    }

    .news_parts{
	background-color:red;
	margin-top:-5px;
	height:0px;
	color:gray;
	overflow: hidden;
	text-overflow:  ellipsis;
    }

    .date_from_hori{
	display:flex;
	color:gray;
	position:absolute;
	bottom:0;
	margin-bottom:-0.5em;
    }

    .news_date{
    }

    .news_image{
    }

    .news_image img{
	height:0px;
    }

    .smallDivider {
	margin-left:3px;
	margin-right:3px;
	font-size:3em;
	margin-top:-33px;
    }
}
